/*                                                          Cores usadas em todo HTML                                                            */

/*
===================================================================================================================================================
||                                                              CORES DE FUNDO                                                                   ||
===================================================================================================================================================
*/

:root {

    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    |     Fundos principais               |
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

    --main:                      #F6F6F6;
    --footer:                    #F3C4C7;
    --diversos:                  #333333;      /* Diversos (borda do círculo da abelha)   */

    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    |     Páginas e seus elementos        |
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

    --background-1a5:            #FFFBF1;      /* Páginas 1 a 5                           */
    --background-div-1:          #FFFFFF;
    --background-6a9:            #EEF9EF;      /* Páginas 6 a 9 */
    --background-tabela-7:       #DDDDDD;      /* Página 7 (fundo tabela)                 */
    --background-10a15:          #FFF6F9;      /* Páginas 10 a 15                         */  
    --background-botao-11a12:    #e03157;      /* Página e 12 (fundo botão)               */
    --background-botao-footer:   #FF6CA2;      /* Footer (fundo botão)                    */
    --background-div-footer:     #4B8F56;      /* (fundo div inferior)                    */

    --border-div-1:              #FFCD4D; 
}

/*
===================================================================================================================================================
||                                                              CORES DE TEXTO                                                                   ||
===================================================================================================================================================
*/

:root {

    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    |     Cores Principais                |
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

    --text-1:                     #413752; 
    --text-2:                     #9C9C9C;
    --text-3:                     #f5f5f5;
    --text-tabela-7:              #222222;

    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    |     Gradientes                      |
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

    --titulo-7: linear-gradient(#e66465, #9198e5)  /* Parte do título da página 7 */
}