* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-color: #FAF9F9;
}

#introducao {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 40px;
    margin-left: 30px;
    color: #4D4D4D;
    font-size: larger;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 5px;
    flex-wrap: wrap;
    gap: 20px;
}


.box {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 25vh;
    height: 25vh;
    padding: 20px;
    margin: 10px;
    background-color: #F6E6E6;
    border-radius: 8px;
    transition: transform 0.3s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.box:hover {
    transform: translateY(-5px);
}

img {
    width: 60px;
    height: 60px;
}

h3 {
    font-size: 18px;
    color: #4D4D4D;
}

p {
    font-size: 14px;
    color: #6A8D92;
}

a {
    text-decoration: none;
}