body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, #0E0D22, #0E0D22, #121216);
    overflow: hidden;
    font-family: 'DM Sans', sans-serif;

}

p {
    left: 5%;
    position: absolute;
    color: #B6AAAA;
    font-size: 50px;
}

#botaoInserir {
    position: relative;
    width: 200px;
    height: 40px;
    margin-top: 60px;
    border-radius: 10px;
    border: none;
    color: #FFFFFF  ;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 20px;
    background: linear-gradient(5deg, #4158D0, #C850C0, #FFCC70);
    top: -20px;
    left: 35%;
    justify-content: center;
}

#linhaEnfeite {
    position: absolute;
    left: 30px;
    top: 30px;
    width: 95%;
    height: 90%;
    background-color: transparent;
}

#linhaEnfeite:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 3px solid;
    border-image: linear-gradient(to right, #4158D0, #C850C0, #FFCC70) 1;
    z-index: -1;
}

#caixaInsert {
    margin-top: 130px;
    width: 50%;
    height: 100%;
    background-color: #070709;
    color: #FFFFFF;
    border-radius: 34px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#centralizar {
    display: flex;
    justify-content: center;
    height: 70%;
}

.inputContainer {
    position: relative;
    display: flex;
    width: 550px;
    justify-content: space-between;
    margin-top: 5%;
    right: 10%;
}


label {
    position: relative;
    width: 200px;
    text-align: end;
    top: 7.5px;
}

#gradiente {
    /*GAMIBARRA MUITO FORTE*/
    background: linear-gradient(30deg, #4158D0, #C850C0, #FFCC70);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.inputForm {
    border-radius: 10px;
    color: #E5E7EB;
    padding: 10px;
    background-color: #111112;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    height: 30px;
    width: 299px;
    cursor: pointer;
    z-index: 1;
    border: none;
    position: relative;
    left: 1px;
}

.input-container::before {
    content: '';
    position: absolute;
    top: 21px;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    background: transparent;
    border: 2px solid transparent;
    width: 297.5px;
    height: 39px;
    background: linear-gradient(to right, #4158D0, #C850C0, #FFCC70);
    z-index: 0;
    opacity: 0;
    transition: opacity 0.3s;
    transition: box-shadow 0.3s;
}

.input-container:hover::before,
.input-container:focus-within::before {
    opacity: 1;
}

.inputForm:focus {
    outline: none;
    box-shadow:
            0 0 10px rgba(65, 88, 208, 0.9),
            0 0 10px rgba(200, 80, 192, 0.9),
            0 0 10px rgba(255, 204, 112, 0.9);
}