#comandoInsert {
    top: 40px;
    left: 39.5%;
    text-wrap: nowrap;
}

#tabelaInsert {
    top: 100px;
    left: 13.6%;
}

#comandoInsertpt2 {
    top: 160px;
    left: -75.5%;
    text-wrap: nowrap;
}

button {
    left: -76%;
}

.inputForm {
    left: -73%;
}