@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, #0E0D10, #0E0D10, #121216);
    display: flex;
    align-items: center;
    justify-content: center;
}


img {
    position: absolute;
    top: 10px;
    width: 100px;
    left: 10px;
}

#caixaLogin {
    width: 55%;
    height: 65%;
    background-color: #020203;
    border-radius: 34px;
    position: relative;
    padding: 40px;
    top: 0px;
}


#textoPrincipal {
    display: flex;
    justify-content: center;
    position: relative;
    top: 10px;
    color: #B6AAAA;
    font-size: 40px;
    font-family: 'DM Sans', sans-serif;
    margin-bottom: 20px;
}

#pontoGradiente {
    position: relative;
    color: transparent;
    font-size: 30px;
    font-family: 'DM Sans', sans-serif;
    top: -32px;
    left: 525px;
    width: 10px;
    height: 10px;
}

#pontoGradiente::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, #4158D0, #C850C0, #FFCC70);
    border-radius: 50%;
}

.input-container {
    position: relative;
    margin-bottom: 20px;
}

.inputForm {
    border-radius: 10px;
    color: #E5E7EB;
    padding: 10px;
    background-color: #1e1f22;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    height: 40px;
    width: 299px;
    cursor: pointer;
    z-index: 1;
    border: none;
    position: relative;
    left: 1px;
}

.input-container::before {
    content: '';
    position: absolute;
    top: 21px;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    background: transparent;
    border: 2px solid transparent;
    width: 297.5px;
    height: 39px;
    background: linear-gradient(to right, #4158D0, #C850C0, #FFCC70);
    z-index: 0;
    opacity: 0;
    transition: opacity 0.3s;
    transition: box-shadow 0.3s;
}

.input-container:hover::before,
.input-container:focus-within::before {
    opacity: 1;
}

.inputForm:focus {
    outline: none;
    box-shadow:
            0 0 10px rgba(65, 88, 208, 0.9),
            0 0 10px rgba(200, 80, 192, 0.9),
            0 0 10px rgba(255, 204, 112, 0.9);
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    color: #9CA3AF;
    font-size: 13px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-family: 'DM Sans', sans-serif;
}

button {
    position: relative;
    width: 299px;
    height: 40px;
    margin-top: 30px;
    padding: 9px 19px;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    transition: background-color 0.3s;
    left: 1px;
    font-size: 20px;
    background: linear-gradient(5deg, #4158D0, #C850C0, #FFCC70);
}

button:hover {
    transform: scale(1.01);
}

div img {
    position: relative;
    float: right;
    height: 410px;
    width: 50%;
    top: -345px;
    left: 30px;
    box-shadow: inset 0 4px 100px rgba(0, 0, 0, 1);
    overflow: hidden;
}

@media (max-width: 1200px) {
    #caixaLogin {
        width: 60%;
        transition: 1s;
    }
}

@media (max-width: 1175px) {
    #textoEnfeite {
        left: 82%;
        transition: 1s;
    }
    #caixaLogin {
        width: 65%;
        left: -50px;
        transition: 1s;
    }
}

@media (max-width: 1000px) {
    #textoEnfeite {
        left: 80%;
        transition: 1s;
    }
    #caixaLogin {
        width: 70%;
        left: -100px;
        transition: 1s;
    }
}

@media (max-width: 950px) {
    #caixaLogin {
        width: 75%;
        left: -80px;
        transition: 1s;
    }

    #textoEnfeite {
        font-size: 65px;
        transition: 1s;
    }
}

@media (max-width: 900px) {
    #caixaLogin {
        width: 75%;
        left: -80px;
        transition: 1s;
    }

    div img {
        width: 40%;
        transition: 1s;
    }
    #textoEnfeite {
        font-size: 60px;
        transition: 1s;
    }
}

@media (max-width: 800px) {
    #caixaLogin {
        width: 85%;
        left: -50px;
        transition: 1s;
    }
    div img {
        width: 35%;
        transition: 1s;
    }
    #textoEnfeite {
        top: 625px;
        font-size: 50px;
        transition: 1s;
    }
}

@media (max-width: 800px) {
    #caixaLogin {
        width: 90%;
        left: -25px;
        transition: 1s;
    }
    div img {
        width: 35%;
        transition: 1s;
    }
}

@media (max-width: 800px) {
    #caixaLogin {
        width: 95%;
        left: -10px;
        transition: 1s;
    }
    div img {
        width: 32.5%;
        transition: 1s;
    }
    #textoEnfeite {
        left: 77%;
        transition: 1s;
    }
}
@media (max-width: 800px) {
    #caixaLogin {
        width: 97.5%;
        left: 0px;
        transition: 1s;
    }
    div img {
        width: 30%;
        transition: 1s;
    }
}