@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

body {
    width: 100vw;
    height: 100vh;
    background: #EEF9EF;
    overflow: hidden;
    font-family: 'DM Sans', sans-serif;
    margin: 0px;
    padding: 0px;

    display: flex;
    justify-content: center;
}

.botao-voltar {
    position: absolute;
    top: 40px;
    left: 3%;
    height: 40px;
    border-radius: 10px;
}

img {
    width: 75px;
    transition: 0.5s transform ease-in-out;
}

.botao-voltar:hover {
    transform: scale(1.1);
}

.container {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 40%;
    height: 40%;
    background-color: #ffffff;
    border-radius: 20px;
    padding-top: 100px;
}

#texto1 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    top: 30px;
}

#titulo {
    top: 0px;
    position: absolute;
    color: #000000;
    font-size: 50px;
}

#pesquisarNaColuna {
    position: relative;
    top: -125px;
    font-size: 26px;
}

#colunaFiltro {
    font-size: 20px;
    position: relative;
    top: -125px;
    left: 20px;
    border-radius: 8px;
    border: 2px solid black;
    text-align: center;
}

#por {
    position: relative;
    top: -75px;
    left: -360px;
    font-size: 26px;
}

#filtro {
    font-size: 20px;
    position: relative;
    top: -103px;
    width: 310px;
    left: 20px;
    border-radius: 8px;
    border: 2px solid black;
    padding-left: 5px;
}

#EOrdenarPor {
    position: relative;
    top: -75px;
    left: 71px;
    font-size: 26px;
}

#orderBy {
    font-size: 20px;
    position: relative;
    top: -75px;
    left: 160px;
    border-radius: 8px;
    border: 2px solid black;
    text-align: center;
}

#emOrdem {
    position: relative;
    top: -25px;
    left: -220px;
    font-size: 26px;
}

#orderType {
    font-size: 20px;
    position: relative;
    top: -25px;
    left: -100px;
    border-radius: 8px;
    border: 2px solid black;
    text-align: center;
}

#NaoDefinidos {
    position: relative;
    top: 0px;
    left: -85px;
    font-size: 26px;
}

#incluirNDef {
    font-size: 20px;
    position: relative;
    top: 0px;
    left: 25px;
    width: 50px;
    border-radius: 8px;
    border: 2px solid black;
    text-align: center;
}

#pesquisar {
    position: relative;
    width: 380px;
    height: 40px;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 20px;
    background-color: #F497B6;
    top: 25px;
    left: -20px;
    transition: 0.25s transform ease-in-out;
}

#pesquisar:hover {
    transform: scale(1.01);
    background-color: #E6679A;
}