@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

label {
    color: #B6AAAA;
    font-size: 19px;
    font-family: 'DM Sans', sans-serif;
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.checkbox-arredondado {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #4158D0;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    position: relative;
    margin-right: 15px;
}

.checkbox-arredondado:hover {
    background-color: #4158D0;
}

.checkbox-arredondado:checked {
    background-color: #4158D0;
}

.checkbox-arredondado:checked::before {
    content: '';
    position: absolute;
    top: 3.75px;
    left: 3.75px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #C850C0;
}