/*                                                          CSS Dos Elementos da home                                                            */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    align-items: center;

    font-family: 'DM Sans', sans-serif;
    background-color: #FAF9F9;
}

#introducao {
    position: absolute;
    top: 40px;
    display: flex;
    margin-left: 30px;
    flex-direction: column;
    align-items: center;

    font-size: larger;
    color: #4D4D4D;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 5px;
    flex-wrap: wrap;
    gap: 20px;
}

.box {
    display: flex;
    width: 25vh;
    height: 25vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 10px;

    background-color: #F6E6E6;
    transition: transform 0.3s;

    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.box:hover {
    transform: translateY(-5px);
}

img {
    width: 60px;
    height: 60px;
}

h3 {
    font-size: 18px;
    color: #4D4D4D;
}

p {
    font-size: 14px;
    color: #6A8D92;
}

a {
    text-decoration: none;
}