/*                                                         CSS Dos Elementos de Saída                                                            */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

body {
    width: 100vw;
    height: 100vh;
    background: #F6E6E6;
    overflow-x: hidden;
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.botao-voltar {
    position: absolute;
    top: 40px;
    left: 3%;
    height: 40px;
    border-radius: 10px;
}

img {
    position: absolute;
    top: 15px;
    width: 60px;
}

#titulo1 {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    color: #000000;
    font-size: 50px;
}

#subtitulo2 {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 30px;
}

.sucesso {
    color: green;
}

.container {
    width: 60%;
    max-height: 400px;
    overflow-y: auto;
    border-collapse: collapse;
    margin-top: 500px;
}

thead th {
    padding: 12px;
    color: #4D4D4D;
    background-color: #E8BABA;
    border: 1px solid #ddd;
    font-size: 18px;
}

tbody td {
    padding: 12px;
    color: #4D4D4D;
    background-color: #F5DADA;
    border: 1px solid #ddd;
    font-size: 16px;
    text-align: left;
}
