/*                                                        CSS Dos Elementos do Inserir                                                            */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

body {
    width: 100vw;
    height: 100vh;

    font-family: 'DM Sans', sans-serif;
    background: #FAF9F9;

    overflow: hidden;
}

p {
    margin-top: 50px;

    font-size: 50px;

    text-align: center;
}


#botaoInserir {
    position: relative;
    width: 380px;
    height: 40px;
    top: 25px;
    left: 100px;

    font-size: 20px;
    color: #FFFFFF;
    background-color: #E8BABA;

    transition: 0.25s transform ease-in-out;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

#botaoInserir:hover {
    background-color: #D48B8B;
    transform: scale(1.01);
}

#caixaInsert {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #F6E6E6;

    border-radius: 34px;
}

#centralizar {
    height: 70%;
    display: flex;
    justify-content: center;
}

.inputContainer {
    position: relative;
    width: 550px;
    right: 10%;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}


label {
    position: relative;
    width: 300px;
    top: 7.5px;
    margin-top: -10px;
    margin-right: 20px;

    font-size: 26px;

    text-align: end;
}


.inputForm {
    position: relative;
    width: 299px;
    height: 30px;
    left: 1px;
    padding-top: 2px;

    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

#combo {
    z-index: 2;
}

.botao-voltar {
    position: absolute;
    width: 100px;
    height: 40px;
    top: 40px;
    left: 3%;

    transition: 0.5s transform ease-in-out;
    border-radius: 10px;
}

.botao-voltar:hover {
    transform: scale(1.1);
}

img {
    width: 60px;
}