/*                                               CSS Dos Elementos da Saída do Inserir                                                            */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;

    font-family: 'DM Sans', sans-serif;
    background: #EEF9EF;

    overflow: hidden;
}

.botao-voltar {
    position: absolute;
    top: 40px;
    left: 3%;
    width: 100px;
    height: 40px;

    border-radius: 10px;
}

.botao-voltar:hover {
    transform: scale(1.1);
}

img {
    width: 75px;
}

td {
    left: 0%;

    font-size: 24px;
    color: #000000;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.container thead {
    width: 100%;
}

.container thead tr {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    width: 100%;
}
.container thead tr th {
    width: 50%;
}
#texto1 {
    top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

th {
    padding: 20px;

    background-color: #E6679A;

    border-radius: 5px;
}

td {
    padding: 20px;

    background-color: #F8CCE0;

    border-radius: 5px;
}

table {
    height: 500px;
    margin-top: 200px;
    padding: 5px;

    background-color: #ffffff;

    border-radius: 5px;
}

p {
    position: absolute;

    font-size: 50px;
    color: #000000;
}

#titulo1 {
    position: absolute;
    top: 0px;

    font-size: 50px;
    color: #000000;
}

#subtitulo2 {
    top: 75px;

    font-size: 50px;

    text-align: center;
}

.sucesso {
    color: #56cb12;
}

.fracasso {
    color: #ff0000;
}
