/*                                          CSS Dos Elementos do Log in do Desenvolvedor                                                         */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;

    font-family: 'DM Sans', sans-serif;

    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #333;
    background-color: #fffcf4;
}


img {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
}

#caixaLogin {
    position: relative;
    top: 0px;
    width: 55%;
    height: 65%;
    padding: 40px;

    background-color: #E8BABA;

    border-radius: 34px;
}


#textoPrincipal {
    position: relative;
    top: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    font-family: 'DM Sans', sans-serif;
    font-size: 40px;
    color: #333;
}

#pontoGradiente {
    position: relative;
    top: -32px;
    left: 525px;
    width: 10px;
    height: 10px;

    font-family: 'DM Sans', sans-serif;
    font-size: 30px;
    color: transparent;
}

#pontoGradiente::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: #fffcf4;

    border-radius: 50%;
    content: '';
}

.input-container {
    position: relative;
    margin-bottom: 20px;
}

.inputForm {
    z-index: 1;
    position: relative;
    left: 1px;
    width: 299px;
    height: 40px;
    padding: 10px;

    color: #333;
    background-color: #F5DADA;

    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.input-container::before {
    z-index: 0;
    position: absolute;
    top: 21px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 297.5px;
    height: 39px;

    background: #fffcf4;


    transition: opacity 0.3s;
    transition: box-shadow 0.3s;
    border: 2px solid transparent;
    border-radius: 10px;
    opacity: 0;
    content: '';
}

.input-container:hover::before,
.input-container:focus-within::before {
    opacity: 1;
}

.inputForm:focus {
    box-shadow: 0 0 10px #fffcf4, 0 0 10px #fffcf4, 0 0 10px #fffcf4;
    outline: none;
}

form {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 13px;
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
}

button {
    position: relative;
    width: 299px;
    height: 40px;
    margin-top: 30px;
    padding: 9px 19px;

    font-size: 20px;
    color: #333;
    background: #fffcf4;

    transition: background-color 0.3s;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    transform: scale(1.01);
}

div img {
    position: relative;
    top: -345px;
    left: 30px;
    width: 50%;
    height: 410px;

    overflow: hidden;
    float: right;
    box-shadow: inset 0 4px 100px rgba(0, 0, 0, 1);
}



/*
===================================================================================================================================================
||                                                              RESPONSIVIDADE                                                                   ||
===================================================================================================================================================
*/



@media (max-width: 1200px) {
    #caixaLogin {
        width: 60%;

        transition: 1s;
    }
}

@media (max-width: 1175px) {
    #textoEnfeite {
        left: 82%;

        transition: 1s;
    }

    #caixaLogin {
        left: -50px;
        width: 65%;

        transition: 1s;
    }
}

@media (max-width: 1000px) {
    #textoEnfeite {
        left: 80%;

        transition: 1s;
    }

    #caixaLogin {
        left: -100px;
        width: 70%;

        transition: 1s;
    }
}

@media (max-width: 950px) {
    #caixaLogin {
        width: 75%;
        left: -80px;

        transition: 1s;

    }

    #textoEnfeite {
        font-size: 65px;

        transition: 1s;
    }
}

@media (max-width: 900px) {
    #caixaLogin {
        left: -80px;
        width: 75%;

        transition: 1s;
    }

    div img {
        width: 40%;

        transition: 1s;
    }

    #textoEnfeite {
        font-size: 60px;

        transition: 1s;
    }
}

@media (max-width: 800px) {
    #caixaLogin {
        left: -50px;
        width: 85%;

        transition: 1s;
    }

    div img {
        width: 35%;

        transition: 1s;
    }

    #textoEnfeite {
        top: 625px;

        font-size: 50px;

        transition: 1s;
    }
}

@media (max-width: 800px) {
    #caixaLogin {
        left: -25px;
        width: 90%;

        transition: 1s;
    }

    div img {
        width: 35%;

        transition: 1s;
    }
}

@media (max-width: 800px) {
    #caixaLogin {
        left: -10px;
        width: 95%;

        transition: 1s;
    }

    div img {
        width: 32.5%;

        transition: 1s;
    }

    #textoEnfeite {
        left: 77%;

        transition: 1s;
    }
}
@media (max-width: 800px) {
    #caixaLogin {
        left: 0px;
        width: 97.5%;

        transition: 1s;
    }

    div img {
        width: 30%;

        transition: 1s;
    }
}