/*                                                      CSS Dos Elementos do Excluir                                                             */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

body {
    font-family: 'DM Sans', sans-serif;
}

.imagem-excluir {
    width: 50px;
    height: auto;

    cursor: pointer;
}

.modal {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;

    background-color: rgba(0, 0, 0, 0.5);

    overflow: auto;
}

.modal-conteudo {
    width: 300px;
    margin: 15% auto;
    padding: 20px;

    background-color: #FFFFFF;

    border: 1px solid #888888;
    border-radius: 20px;
    text-align: center;
}

.fechar {
    position: relative;
    top: -24px;
    left: 8px;

    font-size: 38px;
    font-weight: bold;
    color: #aaaaaa;

    float: right;
}

.fechar:hover,
.fechar:focus {
    color: red;

    text-decoration: none;
    cursor: pointer;
}

.corpo-modal {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    font-size: 20px;
}

.imagem-confirmacao {
    width: 80px;
    margin-right: 10px;
}

button {
    margin: 5px;
    padding: 10px 15px;

    border-radius: 6px;
}

button:hover {
    transform: scale(1.1);

    background-color: #934E50;
}