/*                                                     CSS Dos Elementos do Pesquisar                                                             */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

body {
    width: 100vw;
    height: 100vh;
    background: #FAF9F9;
    overflow: hidden;
    font-family: 'DM Sans', sans-serif;
    margin: 0px;
    padding: 0px;

    display: flex;
    justify-content: center;
}

.botao-voltar {
    position: absolute;
    top: 50px;
    left: 3%;
    height: 40px;

    border-radius: 10px;
}

img {
    width: 60px;

    transition: 0.5s transform ease-in-out;
}

img:hover {
    transform: scale(1.1);
}

.container {
    display: flex;
    width: 40%;
    height: 40%;
    margin-top: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 150px;

    background-color: #F6E6E6;

    border-radius: 20px;
    text-align: center;
}

#texto1 {
    top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#titulo {
    position: absolute;
    top: 0px;

    font-size: 50px;
    color: #000000;
}

#pesquisarNaColuna {
    position: relative;
    top: -125px;
    left: -15px;

    font-size: 26px;
}

#colunaFiltro {
    position: relative;
    top: -125px;
    left: 20px;
    width: 205px;

    font-size: 20px;

    border-radius: 8px;
    border: 2px solid black;
    text-align: center;
}

#por {
    position: relative;
    top: -100px;
    left: -113px;

    font-size: 26px;
}

#filtro {
    position: relative;
    top: -103px;
    left: 117px;
    width: 205px;
    padding-left: 5px;

    font-size: 20px;

    border-radius: 8px;
    border: 2px solid black;
}

#EOrdenarPor {
    position: relative;
    top: -75px;
    left: -54px;

    font-size: 26px;
}

#orderBy {
    position: relative;
    top: -75px;
    left: 57px;
    width: 205px;

    font-size: 20px;

    border-radius: 8px;
    border: 2px solid black;
    text-align: center;
}

#emOrdem {
    position: relative;
    top: -50px;
    left: -74px;

    font-size: 26px;
}

#orderType {
    position: relative;
    top: -50px;
    left: 78px;
    width: 205px;

    font-size: 20px;

    border-radius: 8px;
    border: 2px solid black;
    text-align: center;
}

#NaoDefinidos {
    position: relative;
    top: -25px;
    left: -128px;

    font-size: 26px;
}

#incluirNDef {
    position: relative;
    top: -25px;
    left: 60px;
    width: 50px;

    font-size: 20px;

    border: 2px solid black;
    border-radius: 8px;
    text-align: center;
}

#pesquisar {
    position: relative;
    left: 3px;
    width: 490px;
    height: 40px;

    font-size: 20px;
    color: #FFFFFF;
    background-color: #E8BABA;

    transition: 0.25s transform ease-in-out;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#pesquisar:hover {
    background-color: #D48B8B;

    transform: scale(1.01);
}