/*                                                    CSS Dos Elementos do Visualizar                                                             */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

.box {
    max-width: 80%;
    padding: 50px;

    background-color: #F6E6E6;

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'DM Sans', sans-serif;
    color: #333;
    background-color: #FAF9F9;

    text-align: center;
}

h1, h2 {
    margin-bottom: 20px;
}

th {
    padding: 12px;

    color: #4D4D4D;
    background-color: #E8BABA;
}

td {
    padding: 12px;

    color: #4D4D4D;
    background-color: #F5DADA;
}

.tabelaSaida {
    width: 100%;

    border-spacing: 0 10px;
    border-radius: 40px;
}

.conteudo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;

    text-align: center;
    border-radius: 40px;
}

.visuBtn {
    margin: 0 5px;
}

#novoBtn, #atualizarBtn, #removerBtn, #filtrarBtn, #voltarBtn {
    padding: 8px 16px;

    color: white;
    background-color: #E8BABA;

    transition: background-color 0.3s;
    border: none;
    border-radius: 20px;
}

#novoBtn:hover, #atualizarBtn:hover, #removerBtn:hover, #filtrarBtn:hover, #voltarBtn:hover {
    background-color: #D48B8B;
}

img {
    width: 30px;
    height: 30px;
}

#atualizarBtn, #removerBtn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 8px;

    background-color: #E8BABA;

    border-radius: 20px;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 50px;
}